<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>69674261933-adsor9pq2bf33gff4v24bjo138jmj8dm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.69674261933-adsor9pq2bf33gff4v24bjo138jmj8dm</string>
	<key>API_KEY</key>
	<string>AIzaSyBW8PSj8_iA4nAa6HteSM0eY85RQPnYeiA</string>
	<key>GCM_SENDER_ID</key>
	<string>69674261933</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>freeLancer.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-93b04</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-93b04.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:69674261933:ios:9f45a1badee734827a9524</string>
</dict>
</plist>